[submodule "staticdata"]
	path = staticdata
	url = https://github.com/Earth-Restored/Solace.StaticData
[submodule "repos/Minecraft_Earth_Patcher"]
	path = repos/Minecraft_Earth_Patcher
	url = https://github.com/Earth-Restored/Minecraft_Earth_Patcher
